#Ignore target files:
target/*
tshark_out/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
.cproject
.project
.gitignore.save
.idea

CMakeLists.txt.user
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
README.md.save
